/* Selector universal aplicar estilos a todos los elementos del documento HTML*/
*{   
    box-sizing: border-box;
    margin: 3px;
    padding: 2px;    
}
.historia{
        background: cadetblue;
}
 /*cuerpo principal*/
body{
	width: 100%;
	height: 100%;	    
}

@media (max-width: 600px) { /*media query*/
  body {
    background-color: #ffe0b2; 
  }
}

/*Titlulos y subtitulos*/
h1, h2{
    width: 330px;
    height: 57px;
    color: rgb(0, 0, 0);    
}

/*Parrafos*/
p { 
    font-family: Verdana /*, Geneva, Tahoma, sans-serif */;
    text-align: justify;
    color: rgb(0, 0, 0);
}
/*etiqueta nav*/
.navegacion {
    position: absolute;
    top: 19px;
    right: 21px;
    margin: 6px;
    /*height: 3%;*/
        
}    
.navegacion ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
.navegacion a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
ul :hover a{
    background-color: #85838327; /* Un gris más claro para indicar interacción */
    transition: background-color 0.3s ease;         
}

/*imagenes*/
.contenedor {
    width: 80%;
    margin: auto;
}
img {
    max-width: 55%;
    height: auto;
}
.ima2{
    width: 21%;
}

/* Estilo de la tabla */
table {
    width: 100%;
    border-collapse: separate; /* Permite el border-radius en las esquinas */
    border-spacing: 0;
    overflow: hidden; /* Oculta bordes que se salgan, importante para el radio */
    border-radius: 8px; /* Bordes redondeados */
}

/* Encabezados de la tabla */
th {
    background-color: #B6AE9F;
    color: #000000;
    padding: 15px 10px;
    text-align: left;
    text-transform: uppercase;    
}

/* Celdas de la tabla */
td {
    padding: 12px 10px;
    background-color:#C5C7BC;
}

/* Columna de números (#)*/
td:first-child {
    text-align: center;
}

/* Efecto hover (al pasar el ratón) */
tr:hover td {
    background-color: #444; 
    transition: background-color 0.3s ease;
}

.inicio{
    background-color: aliceblue;
}